* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgba(113, 153, 228, 0.123);
}

.main {
    width: 1200px;
    margin: auto;
    background-color: white;
}

header {
    padding: 50px 50px 12px;
    display: grid;
    gap: 20px;
    background-color: #223d64;
    border-bottom: 4px solid orange;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo img {
    width: 90px;
}

header nav .logo h4 {
    color: #ffd434;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

header nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 17px;
}

header .tituloCentral {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 35px;
    color: orange;
    text-shadow: -10px 0px 10px black;
}

.queEs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px 50px;
}

.queEs .contenido{
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center; 
    row-gap: 30px;
    height: auto;
    width: auto;
    background-color: white;
}

.cards .card {
    background-color: rgb(215, 212, 212);
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    border-radius: 20px;
    gap: 20px;
    box-shadow: 0px 0px 10px rgb(29, 28, 28);
}

.cards .card .texto {
    text-align: center;
}

.cards .card button {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.cards .card button:hover {
    background-color: rgb(216, 148, 21);
}

.cards .card .informacionExtra {
    display: none;
    flex-direction: column;
    gap: 20px;
}

.cards .card .informacionExtra ul {
    list-style: none;
    display: grid;
    gap: 5px;
}

.cards .card .informacionExtra ul li i {
    color: crimson;
}

.cards .card .img img {
    width: 300px;
    border-radius: 7px;
}

.slider {
    display: flex;
    justify-content: center;
}

.slider .cont-imagenes .imagen {
    height: 300px;
    width: 390px;
}

.slider .img-oculta {
    display: none;
}


/* PAGINA PAUSAS ACTIVAS */
.contenidoPausas {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenidoPausas .frase {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 40px 0px 0px;
    position: relative;
}

.contenidoPausas .frase .cont-frase {
    width: 90%;
    position: absolute;
    bottom: 28px;
}

.contenidoPausas .frase .cont-frase .frase2 {
    width: 100%;
    display: flex;
    justify-content: end;
}

.contenidoPausas .frase .cont-frase .frase1, .frase2 {
    background-image: linear-gradient(45deg,#2b26bd 0%,rgb(57, 19, 120) 35%,#9226bd 55%,orange 60%);
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
    margin-left:40px;
}

.contenidoPausas .frase1 h2, .frase2 h2 {
    font-weight: 800;
}

#sol {
    width: 240px;
    position: relative;
    left: -80px;
}

/* contenido pausas  */
.contenidoPausas .cont-apartados .apartado {
    display: flex;
    justify-content: space-around;
    margin: 90px 0px;
}

.contenidoPausas .apartado .info {
    width: 48%;
    transform: rotate(-4deg);
    background-color: rgba(117, 197, 20, 0.46);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.contenidoPausas .cont-apartados .apartado .info .cont-info {
    display: grid;
    text-align: center;
    gap: 30px;
    padding: 25px;
    transform: rotate(4deg);
}

.contenidoPausas .cont-apartados .apartado .info .cont-info p {
    line-height: 22px;
}

.contenidoPausas .cont-apartados .apartado .info .cont-info .items {
    display: grid;
    gap: 15px;
}

.contenidoPausas .cont-apartados .apartado .info .cont-info .items span {
    font-weight: 900;
}

.contenidoPausas .apartado .imagen {
    width: 48%;
    display: flex;
    justify-content: center;
}

.contenidoPausas .apartado .imagen img {
    width: 400px;
}

.contenidoPausas .voltear {
    flex-direction: row-reverse;
}

.contenidoPausas .cont-apartados .voltear .info {
    transform: rotate(4deg);
    background-color: #f8ce35e4;
}

.contenidoPausas .cont-apartados .voltear .info .cont-info {
    transform: rotate(-4deg);
}

.contenidoPausas .conclusion {
    width: 90%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contenidoPausas .conclusion img {
    width: 600px;
}


/* ERGONOMÍA */
.contenidoErgonomia {
    display: grid;
    gap: 70px;
}

.contenidoErgonomia .definicionErg {
    text-align: center;
    margin: 110px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.contenidoErgonomia .definicionErg #titulo {
    font-size: 35px;
    color: orange;
    background-color: #223d64;
    text-shadow: -10px 0px 10px black;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid orange;
}

.contenidoErgonomia .definicionErg p {
    width: 90%;
    text-align: justify;
}

.contenidoErgonomia .proposito h2{
    text-align: center;
}

.contenidoErgonomia .proposito .cont-proposito {
    display: flex;
    padding: 20px 50px;
}

.contenidoErgonomia .proposito .cont-proposito .items {
    width: 50%;
    background-color: #546e91;
    padding: 10px 30px;
}

.contenidoErgonomia .proposito .cont-proposito .items ul {
    line-height: 25px;
    font-weight: bold;
}

.contenidoErgonomia .proposito .cont-proposito .frase {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #1c2b3f;
    color: white;
}

.contenidoErgonomia .recomendaciones {
    text-align: center;
    display: grid;
    gap: 50px;
}

.contenidoErgonomia .recomendaciones .cont-ileras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenidoErgonomia .recomendaciones .cont-ileras .ilera {
    display: flex;
}

.contenidoErgonomia .recomendaciones .cont-ileras .ilera .cont-info {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border: solid 1px black;
    padding: 10px 20px;
}

.contenidoErgonomia .recomendaciones .cont-ileras .ilera .cont-info p {
    text-align: justify;
}

.contenidoErgonomia .recomendaciones .cont-ileras .ilera .cont-img {
    width: 380px;
    background-color: #9226bd;
    display: flex;
}

.contenidoErgonomia .recomendaciones .cont-ileras .ilera .cont-img img {
    background-size: contain;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px 0px;
    padding: 40px 0px 20px;
    background-color: #223d64;
    color: rgb(212, 203, 191);
}

footer .redes {
    display: flex;
    gap: 20px;
}

footer .redes i {
    font-size: 30px;
    color: rgb(212, 203, 191);
}